<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.craig.bobscout">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScoutMatchSetup"
            android:label="Match Setup"
            android:parentActivityName=".Start"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScoutMatch"
            android:label="Teleop"
            android:parentActivityName=".ScoutMatchSetup"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".SubmitMatch"
            android:label="Match Data Submit"
            android:parentActivityName=".ScoutMatchSetup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScoutAuto"
            android:label="Autonomous"
            android:parentActivityName=".ScoutMatchSetup"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ViewMatches"
            android:label="View Scouted Matches"
            android:parentActivityName=".Start" />
        <activity
            android:name=".Start"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScoutTeam"
            android:parentActivityName=".Start"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmitTeam"
            android:parentActivityName=".ScoutTeam" />
        <activity
            android:name=".ViewTeams"
            android:parentActivityName=".Start" />
        <activity
            android:name=".ScoutMatchEnd"
            android:label="Match End"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScoutMatchClimb"
            android:parentActivityName=".ScoutMatch"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:parentActivityName=".ScoutMatchSetup"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>